    <div>
        <table style="border:1px solid black">
            <tr style="border:1px solid black">
                <th style="border:1px solid black">Name</th>
                <th style="border:1px solid black">World Ranking</th>
                <th style="border:1px solid black">Total To Par</th>
                <th style="border:1px solid black">Current Position</th>
                <th style="border:1px solid black">Round</th>
                <th style="border:1px solid black">Hole</th>
                <th style="border:1px solid black">Status</th>
            </tr>
            {{#teamGolfers}}
                <tr style="border:1px solid black">
                    <td>{{name}}</td>
                    <td style="text-align:center">{{ranking}}</td>
                    <td style="text-align:center">{{toPar}}</td>
                    <td style="text-align:center">{{position}}</td>
                    <td style="text-align:center">{{round}}</td>
                    <td style="text-align:center">{{hole}}</td>
                    <td style="text-align:center">{{status}}</td>
                </tr>
            {{/teamGolfers}}
        </table>
    </div>
