<html>
    <head> 
        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
        <!--script src="https://cdn.tailwindcss.com"></script-->
    </head>
    <body>
        <div id="app">
            <h2>MajorPlayer</h2> 
            </div>
            {{^player}}
                {{> login.mustache }}
            {{/player}}
            {{#player}}
            <div>
                <button 
                    hx-get="/display-team"
                    hx-target="#home"
                >My Team</button>
                <button 
                    hx-get="/leagues"
                    hx-target="#home"
                >My Leagues</button>
                <button 
                    hx-get="/change-team"
                    hx-target="#home"
                >Pick Team</button>
                <form action="/logout" method="get">
                    <button>Logout {{player.user.email}}</button>
                </form>
            </div>
            <div id="home">
                {{> team.mustache }}
            </div>
            {{/player}}
        </div>
    </body>
</html>
