<div>
    <p><b>{{fixture.name}} - {{fixture.course}} - {{fixture.prizeCurrency}} {{fixture.prize}}</b></p>
    {{#teams}}
        <p>
            <button
                    hx-get="/league/detailed-team/{{ user.id }}"
                    hx-target="#detailed-team-{{ user.id }}"
                    hx-swap="innerHTML"
             >{{user.teamName}} <i>({{user.name}})</i> - Total score: {{totalRank}}
            </button>
            <div id="detailed-team-{{user.id}}"></div>
        </p>
    {{/teams}}
</div>
