<div>
    {{#adminLeagues}}
        <div>
            <p>
                <button
                    hx-get="/league/{{ id }}"
                    hx-target="#home"
                    ><b>{{ name }}</b>        
                </button>
                    Admin - new member join passcode <b>{{passcode}}</b>
            </p>
        </div>
    {{/adminLeagues}}
    {{#leagues}}
        <button
            hx-get="/league/{{ id }}"
            hx-target="#home"
        ><b>{{ name }}</b>
        </button>
    {{/leagues}}
    <p>
        <h4>Join or Create League</h4>
    </p>
    <form>
        <input
            type="text" 
            name="league-passcode"
            placeholder="League Passcode"
        />
        <button
            hx-post="/join-league"
            hx-target="#home"
        >Join League</button>
    </form>
    <form>
        <div id="league-validation">
        </div>
        <input
            type="text" 
            name="league-name"
            hx-post="/validate-league-name"
            hx-trigger="keyup changed delay:1.5s"
            hx-target="#league-validation"
            placeholder="League Name"
        />
        <button 
            hx-post="/create-league"
            hx-target="#home"
        >
            Create League
        </button>
    </form>
</div>
