<div>
    <br/>
    <h3>Leagues Joined</h3>
    {{#adminLeagues}}
        <div>
            <p>
                <button
                    hx-get="/league/{{ id }}"
                    hx-target="#home"
                    ><b>{{ name }}</b>        
                </button>
                <span> You are the league captain - give this passcode to others to join: <b>{{passcode}}</b> </span>
            </p>
        </div>
    {{/adminLeagues}}
    <div>
        {{#leagues}}
            <p>
                <button
                    hx-get="/league/{{ id }}"
                    hx-target="#home"
                ><b>{{ name }}</b>
                </button>
            </p>
            <br/>
        {{/leagues}}
    </div>
    <br/>
    <br/>
    <br/>
    <p>
        <h4>Join or Create New League</h4>
    </p>
    <form>
        <input
            type="text" 
            name="league-passcode"
            placeholder="League Passcode"
        />
        <button
            hx-post="/join-league"
            hx-target="#home"
        >Join A League</button>
    </form>
    <form>
        <div id="league-validation">
        </div>
        <input
            type="text" 
            name="league-name"
            hx-post="/validate-league-name"
            hx-trigger="keyup changed delay:1.5s"
            hx-target="#league-validation"
            placeholder="League Name"
        />
        <button 
            hx-post="/create-league"
            hx-target="#home"
        >
            Create A New League
        </button>
    </form>
</div>
