<div>
    {{#teams}}
        <p>{{user.email}} - Total score: {{totalRank}}</p>
        <table>
            <tr>
                <th>Name</th>
                <th>World Ranking</th>
                <th>Current Position</th>
            </tr>
            {{#teamGolfers}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{ranking}}</td>
                    <td>{{position}}</td>
                </tr>
            {{/teamGolfers}}
        </table>
    {{/teams}}
</div>
