<p>
    <h3>Login code sent to {{player.user.email}}</h3>
    <form action="/{{player.user.email}}" method="post">
        <input type="text" name="login-code" />
        <input type="submit" value="Submit"/>
    </form>
</p>
