<p>
    <h3>Email: </h3>
<form 
    hx-target="home"
    action="/login" 
    method="post"
    >
        <input type="email" name="email" />
        <input type="submit" value="Submit"/>
    </form>
</p>
