<h3>Selected golfers</h3>
<div>
    <div>
        {{^validationError}}
            <p>
                <button 
                    hx-post="/save-team"
                    hx-target="#home"
                    style="color:green;"
                >Save Team</button>
            </p>
            <br/>
        {{/validationError}}
        {{#validationError}}
            <h4 style="color:red;">{{.}}</h4>
        {{/validationError}}
    </div>
    {{#player.selected}}
        <div>
            <button
                hx-put="/deselect/{{id}}"
                hx-target="#home"
                >
                {{ranking}} - {{name}}
            </button>
        </div>
    {{/player.selected}}
    <h3>Pick your golfers</h3>
    {{> golfers.mustache}}
</div>
