<div>
    <h2>Next Tournament: {{fixture.name}}</h2>
    <h3>Deadline: {{fixture.start}}</h3>
    {{^user.teamName}}
        <h3>Please Set Your Name And Team Name</h3>
        <form method="post" action="/save-user-details">
            <input
                    name="user-name"
                    type="text"
                    placeholder="My Name"
                    value=""
            />
            <input
                    name="team-name"
                    type="text"
                    placeholder="My Team Name"
                    value=""
            />
            <input type="submit"/>
        </form>
    {{/user.teamName}}
    {{#user.teamName}}
        <h3>{{.}}</h3>
    {{/user.teamName}}

    {{^selected}}
        <div>
            <h4>No Team Saved - Please Pick And Save Your Team</h4>
        </div>
    {{/selected}}
    <div>
        <button
            hx-get="/change-team"
            hx-target="#home"
            >Pick Team</button>

    </div>
    {{#selected}}
        {{#captain}}
            <div>
                {{ranking}} - {{name}} <b>Captain</b>
            </div>
        {{/captain}}
        {{^captain}}
            <div>
                {{ranking}} - {{name}}
            </div>
        {{/captain}}
    {{/selected}}
</div>
