<div>
    <button 
        hx-get="/change-team"
        hx-target="#home"
    >Change Team</button>
</div>

<h3>Selected golfers</h3>
{{#selected}}
    <div>
        {{ranking}} - {{name}}
    </div>
{{/selected}}
