<div>
    <h2>Next Tournament: {{fixture.name}}</h2>
    <h3>Deadline: {{fixture.start}}</h3>
    {{^user.teamName}}
        {{> user-details.mustache}}
    {{/user.teamName}}
    {{#user.teamName}}
        <h3>{{.}}</h3>
    {{/user.teamName}}

    {{^selected}}
        <div>
            <h4>No Team Saved - Please Pick And Save Your Team</h4>
        </div>
    {{/selected}}
    <div>
        <button
            hx-get="/change-team"
            hx-target="#home"
            >Pick Team</button>

    </div>
    {{#selected}}
        {{#captain}}
            <div>
                {{ranking}} - {{name}} <b>Captain</b>
            </div>
        {{/captain}}
        {{^captain}}
            <div>
                {{ranking}} - {{name}}
            </div>
        {{/captain}}
    {{/selected}}
</div>
