<div>
    <form method="post" action="/save-user-details">
        <input
                name="user-name"
                type="text"
                placeholder="My Name"
                value=""
        />
        <input
                name="team-name"
                type="text"
                placeholder="My Team Name"
                value=""
        />
        <input type="submit"/>
    </form>
</div>
